/* COOKED */
/* ---------------------------------------------- */
.cooked-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;
	width: 85vw;
	margin: 1rem auto 2rem;
}

.cooked-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	width: 85vw;
	margin: 2rem auto
}

.cooked-image img {
	max-width: 100%;
	width: 400px;
	height: 400px;
	object-fit: cover;
	object-position: center;
	border-radius: 15px;
}
