/* IMPORTS & UTILS*/
/* ---------------------------------------------- */

:root {
	--header-color: #67e8f9;
	--background-color: #f5f4f8;
	--light-green-hover: #c7f0db;
	--card-background: #fde68a;
	--more-info-color: var(--header-color);
	--hover-color: #dbd1ff
}

body {
	background-color: var(--background-color);
}